/* styles.css */

/* CSS Variable with Fallback */
:root {
    --main-color: rgb(3, 4, 3);
    --accent-color: #4CAF50;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color, black);
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
}

/* Style header using Flexbox */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color, green);
    padding: 1rem;
    color: white;
}

#meeting-minutes {
    margin: 20px auto;
    padding: 16px 32px;
    border: 2px solid #034608;
    border-radius: 8px;
    max-width: 800px;
}

nav {
    position: sticky;
    top: 0;
    background-color: #7fc984;
    z-index: 1000;
    padding-bottom: 10px;
}

/* Hover effect for links in nav */
nav a:hover {
    text-decoration: underline;
    color: #3f0338;
}
  
/* Active button */
button:active {
    transform: scale(0.50);
    background-color: #388e3c;
}


#attendance ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1.5rem;
    list-style: disc;
}

#agenda ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-left: 1.5rem;
}

section {
    border: 1px solid #034608;
    padding: 16px;
    margin: 12px auto;
    border-radius: 8px;
}

form {
    border: 2px dashed #034608;
    padding: 20px;
    margin-top: 10px;
}

fieldset {
    border: 3px double #034608;
    padding: 20px;
}

.whiteboard {
    text-align: center;
}

.whiteboard-img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto; /* centers it */
}
/*Media query for small to medium screens */
@media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 0;
    }
  
    .whiteboard-img {
      width: 100%;
    }
  
    #agenda ol {
      grid-template-columns: 1fr;
    }
  }
  
 