/* =================== GENERAL CSS TOPICS =================== */
:root {
    --main-color: rgb(3, 4, 3); /* dark shade fallback */
    --accent-color: color-mix(in srgb, red 40%, blue); /* CSS color mix with fallback */
}

body {
    font-family: 'Roboto', sans-serif; /* Google font */
    color: var(--main-color, black); /* variable with fallback */
    background-color: hsl(0, 0%, 92%); /* soft light grey using HSL */
    margin: 0;
    padding: 0;
}
